// 百分比
$percents: 100;
// 分数
$fractions: (
  "1-2": 0.5,
  "1-3": math.div(1, 3),
  "2-3": math.div(2, 3),
  "1-4": 0.25,
  "3-4": 0.75,
  "1-5": math.div(1, 5),
  "2-5": math.div(2, 5),
  "3-5": math.div(3, 5),
  "4-5": math.div(4, 5),
  "1-6": math.div(1, 6),
  "5-6": math.div(5, 6),
  "full": 1,
  "half": 0.5,
);
// size容器
$containers: (
  "3xs": var(--container-3xs),
  "2xs": var(--container-2xs),
  "xs": var(--container-xs),
  "sm": var(--container-sm),
  "md": var(--container-md),
  "lg": var(--container-lg),
  "xl": var(--container-xl),
  "2xl": var(--container-2xl),
  "3xl": var(--container-3xl),
  "4xl": var(--container-4xl),
  "5xl": var(--container-5xl),
  "6xl": var(--container-6xl),
  "7xl": var(--container-7xl),
);
// 固定值
$fixed: (
  "auto": var(--auto),
  "min": var(--min-content),
  "max": var(--max-content),
  "fit": var(--fit-content),
);

@for $i from 1 through $percents {
  // 宽度
  .w-#{$i} {
    width: calc(var(--spacing) * #{$i});
  }
  // 高度
  .h-#{$i} {
    height: calc(var(--spacing) * #{$i});
  }
}
@each $name, $value in $fractions {
  // 宽度
  .w-#{$name} {
    width: calc(#{$value} * 100%);
  }
  // 高度
  .h-#{$name} {
    height: calc(#{$value} * 100%);
  }
}
// 合并容器与固定值为一个 map 再遍历
$sizes: map.merge($containers, $fixed);
@each $name, $value in $sizes {
  // 宽度
  .w-#{$name} {
    width: $value;
  }
  // 高度
  .h-#{$name} {
    height: $value;
  }
}
.w-screen {
  width: var(--width-screen);
}
.h-screen {
  height: var(--height-screen);
}
